@import 'dsr-design/scss/variables';

$color-font: #555555;
$color-backdrop: #dddddd;
$color-backdrop-active: rgba(255, 255, 255, 0.25);
$box-shadow-backdrop: 0 8px 24px rgba(0, 0, 0, 0.1);

.sakana-widget {
  &-app {
    pointer-events: none;
    position: relative;
  }

  &-canvas {
    pointer-events: none;
    position: absolute;
  }

  &-main {
    pointer-events: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &-img {
    cursor: move;
    pointer-events: auto;
    position: relative;
    background: no-repeat 50% 50%;
    background-size: cover;
  }

  &-ctrl {
    cursor: pointer;
    pointer-events: auto;
    position: relative;
    height: 24px;
    width: 28px * 4;
    display: flex;
    border-radius: $corner-radius-sm;
    background-color: $color-backdrop;
    box-shadow: $box-shadow-backdrop;
    &-item {
      height: 24px;
      width: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-font;
      background-color: transparent;
      &:hover {
        color: $color-font;
        background-color: $color-backdrop-active;
      }
    }
  }

  &-icon {
    height: 18px;
    width: 18px;
    &--rotate {
      animation: sakana-widget-spin 2s linear infinite;
    }
  }
}

@keyframes sakana-widget-spin {
  100% {
    transform: rotate(360deg);
  }
}
